<div class="weather-card" [ngClass]="weatherTempState">
  <div class="weather-card__header">
    <p class="weather-card__title">{{ city.name }}</p>
  </div>
  <div class="weather-card__content">
    <app-loader *ngIf="showLoader"></app-loader>
    <div class="weather-card__highlight" *ngIf="!error">{{ cityWeather?.main.temp.toFixed(0) }}</div>
    <div class="weather-card__error" *ngIf="error">
      Something went wrong
      <button class="button" (click)="reload()">Try Again</button>
    </div>
  </div>
  <div class="weather-card__footer" *ngIf="!error">
    <div *ngIf="city.isFeatured">
      <div class="weather-item">
        <span class="weather-item__label">Humidity</span>
        <span class="weather-item__value">{{ cityWeather?.main.humidity }}<i class="unit">%</i> </span>
      </div>
      <div class="weather-item">
        <span class="weather-item__label">Pressure</span>
        <span class="weather-item__value">{{ cityWeather?.main.pressure }}<i class="unit">hPa</i></span>
      </div>
    </div>
    <div class="weather-age">
      <span class="weather-age__time">Updated at {{ cityWeather?.updateTime }}</span>
    </div>
  </div>
</div>